body {
    background-image: url(backgroundimg.webp);
    background-size: cover;
    background-repeat: repeat-y;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    opacity: 50%;
}

.aliens {
    /* display: flex; */
    border: 2px solid black;
    height: 100px;
    text-align: center;
}

.alienShips {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black;
}

.alien {
    border: 20px solid black;
    width: 15%;
    height: 70px;
    background-image: url('alien_ship.png');
    background-size: contain;
    background-repeat: no-repeat;
    visibility: visible;
}

#A1 {
    visibility: visible;
}

.captian {
    /* display: flex; */
    border: 2px solid black;
    height: 100px;
    margin-top: 5%;
    text-align: center;
    color: aquamarine;
}

.USS_HelloWorld {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black;
}

.uss_position {
    border: 20px solid black;
    width: 15%;
    height: 50px;
    background-image: url('tankpic.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#screenlog {
    margin-left: 10%;
    text-align: left;
    font-size: 50px;
    border: 2px solid black;
    width: 75%;
    height: 300px;
    margin-top: 150px;
    overflow: scroll;
    background-color: black;
    color: limegreen;
    font-family: 'Courier New', Courier, monospace
    /* opacity: 50%; */
}