nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.aliens {
    /* display: flex; */
    border: 2px solid black;
    height: 100px;
}

.alienShips {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black;
}

.alien {
    border: 20px solid black;
    width: 15%;
    height: 70px;
    background-image: url('alien_ship.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.captian {
    /* display: flex; */
    border: 2px solid black;
    height: 100px;
    margin-top: 30%;
}

.USS_HelloWorld {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black;
}

.uss_position {
    border: 20px solid black;
    width: 15%;
    height: 50px;
    background-image: url('alien_ship.png');
}

#screenlog {
    border: 2px solid black;
    width: 300px;
    height: 100px;
}